{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div id="LoginForm">
<div class="login-form">
<div class="main-div">
    <div class="panel">
   <h2>Login</h2>
   <p>Please enter your email and password</p>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form id="Login" method="post" action="{% url 'login' %}">
{% csrf_token %}
        <div class="form-group">
            {{form.as_p}}
</div>
<input class="btn btn-primary" type="submit" value="login">
<a  href="{% url 'core:signup' %}"><button class="btn btn-primary">Create new account</button></a>
<button class="btn btn-primary" href="{% url 'password_reset' %}">Lost password?</button>
<input type="hidden" name="next" value="{{ next }}">
</form>

</div>
</div>
</div>
</div>

{% endblock %}