{% extends 'csapp/base.html' %}
{% block content %}
<style>
    img{

        max-width: 150px;
        max-height: 100px;
    }
    .team{
        text-align: center;
        display: inline-block;
        overflow: hidden;
        width: 170px;
        height: 220px;
        margin: 5px;
        margin-top: 20px;
        padding: 3px;
        background: white;
        border: 2px solid lightslategray;
        border-radius: 2px;
               
    }
    .team h2{
        color: black;
    }
    .team img{
        vertical-align: 0;
    }
    .team a:hover{text-decoration: none; color: darkblue;}
    .team:hover{
        background: #0c7ad4;      
    }
    .logo{

        height: 150px;
    }
</style>
<div class="blog">
    {% for post in posts %}
    <div class="post">
        <h4>{{ post.title }}</h4>
        <p>{{ post.article }}</p>
        <a style="float: right" href="/csgo/">More</a>
    </div>
    {% endfor %}
</div>
<div class="teams">
{% for team in teams %}
    <div class="team">
        <a href="{% url 'cs:team_detail' pk=team.pk %}">
        <h2>{{ team.name }} </h2>
        <div class="logo">
        <img src='{{ MEDIA_URL }}/media/{{ team.logo }}'>
        </div>
        </a>
    </div>
{% endfor %}
</div>
{% endblock %}