{% extends 'hsapp/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<style>
    img{
        width: 75px;
    }
</style>
<h3>Search results:</h3>
<div class="search-results">
{% for card in cards %}
<div class="search-result scard">
    <h2>{{ card.name }} </h2>
    <img src='{{ MEDIA_URL }}/media/{{ card.image }}'>
</div>
{% endfor %}
{% for player in players %}
<a href="{% url 'hs:player_detail' pk=player.pk %}">
<div class="search-result splayer">
    <h2>{{ player.name }} </h2>
    <img src='{{ MEDIA_URL }}/media/{{ player.image }}'>
</div>
</a>
{% endfor %}
{% for tournament in tournaments %}
<a href="{% url 'hs:tournament_detail' pk=tournament.pk %}">
<div class="search-result stournament">
    <h2>{{ tournament.title }} </h2>
    <img src='{{ MEDIA_URL }}/media/{{ tournament.image }}'>    
    <p>{{ tournament.year }}</p>
</div>
</a>
{% endfor %}
</div>

{% endblock %}
