{% extends 'hsapp/base.html' %}

{% block content %}
<script>
$('*[data-confirm="true"]').on('click', function() {
    return confirm("Are you sure?");
});
</script>
    <h1>Create/edit tournament</h1>
    <form method="POST" class="tournament-form">{% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit" class="save btn btn-default" name='save'>Save</button>
        <button type="submit" class="save btn btn-default" name='group'>Save and add a group</button>
        <button type="submit" class="save btn btn-default" name='match'>Save and add a match</button>
        <button  onclick="return confirm('Are you sure?')" type="submit" class="btn btn-danger" name='delete'>Delete</button>

    </form>
{% endblock %}